version: '3'

services:
  web:
    build:
      context: .
    volumes:
      - .:/code
    ports:
      - 8000:8000
    depends_on:
      - redis
      - database
    env_file:
      - .env

  redis:
    image: redis
    container_name: cache
    expose:
      - 6379

  apscheduler:
    build:
      context: .
      dockerfile: Dockerfile.apscheduler
    depends_on:
      - database
    env_file:
      - .env

  dramatiq:
    build:
      context: .
      dockerfile: Dockerfil.dramatiq
    depends_on:
      - redis
      - database
    env_file:
      - .env

  database:
    image: "postgres:latest"
    container_name: database
    restart: always
    ports:
      - 54320:5432
    environment:
      - POSTGRES_PASSWORD=postgres
    volumes:
      - database_data:/var/lib/postgresql/data

volumes:
  database_data:
